
/*
    MAIN
*/

main > div {
   
}

main .row > .canvas {
   height: 500px;
}

.canvas > img{
    width: 808px;
    height: 100%;
    object-fit: cover;
    object-position: 50% 30%;
    display: block;
}


.thumbnail{

height: 200px;

}

.thumbnail > a{
    cursor: pointer;
    display: block;
    width: 200px;
    text-decoration: none;
}   

.thumbnail > a > img{
    display: block;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 80% 30%;
    text-decoration: none;
}



/*
    DEBUG
*/
